body{
    font-family: 'Courier New', Courier, monospace;
}
#main-nav{
    background-color: darkslategrey;
    overflow: hidden;
}
#main-nav a h1{
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
}
#main-nav ol a{
    float: right;
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
}
#main-nav ol a:hover{
    background-color: white;
    color: black;
}
#main-content-wrap{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 5px;
}